body{
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin:   auto;
    color: #000;
}  
@media (min-width:780px){
    
        .btn{
            width: 194px;
            height: 60.1px;
            border-radius: 37px;
            border: 0.5px solid #000;
            background: rgba(234, 225, 217, 0.40);
            box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
            color: #000;
            font-family: sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-top: 5.5%;
        
        }
        
        .btnAsis{
            width: 233px;
            height: 60.1px;
            border-radius: 37px;
            border: 0.5px solid #000;
            background: rgba(234, 225, 217, 0.40);
            box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
            color: #000;
            font-family: sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 5.5%;
        
        }
        
        
        
        .imgBanco{
            width: 15px;
            height: 15px;
            float: left;
            margin-top: 5%;
            margin-left: 5%;
        }
        
        
        
        .divBanco{
            width: 360px;
            height: 650px;
            padding-top: 15%;
        
        }
        .divFiesta{
            width: 360px;
            height: 680px;
            padding-top: 25%;
        
        }
        
        p{
            color: #000;
            font-family: sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            width: 240px;
            
            margin-left: auto;
            margin-right: auto;
        }
        button{
            margin-top: 8%;
        }
        
        h5{
            font-weight: 600;
            letter-spacing: 3.1px;
        }
        
        .divAsis{
            width: 360px;
            height: 370px;
            flex-shrink: 0;
        
        }
        
        .divCode{
            width: 360px;
            height: 380px;
            flex-shrink: 0;
            background: rgba(234, 225, 217, 0.90);
            padding-top: 25%;
            
        }
        
        .divBailar{
            width: 360px;
            height: 390px;
            flex-shrink: 0;
            padding-top: 8%;
        }
        
        .divIg{
            background-image: url(./assets/Star\ bright\ 1.png);
            width: 360px;
            height: 335px;
            flex-shrink: 0;
            margin-top: 20%;
            padding-top: 25%;
        }
        
        .pIg{
            font-weight: 500;
        }
        
        .pHashtag{
            color: #000;
        
        
        /* pricipal */
        font-family: sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }
        
        .divRegalo{
            width: 360px;
            height: 466px;
            flex-shrink: 0;
            margin-top: 20%;
        }
        
        .pFooter1{
            width: 360px;
        height: 148px;
        flex-shrink: 0;
        background: #9E9898;
        margin: 0;
        padding-top: 15%;
        }
        
        .pFooter2{
            width: 360px;
            height: 70px;
            flex-shrink: 0;
            background: #313131;
            color: #fff;
            margin: 0;
            padding-top: 5%;
        }
        
        a{
            text-decoration: none;
            color: #000;
            
        }
        
        footer a{
            text-decoration: none;
            color: #fff;
            cursor: pointer;
            border-bottom: 3px solid #fff;
        }
        
        .sectionprueba{
            display: inline-block;
            text-align: center;
            
        }
        
        .footerBanco{
            margin-top: 10%;
        }
        
        .headerBanco{
            margin-top: 18%;
        }

    
}

@media (max-width: 767px) {
    

    .btn{
        width: 194px;
        height: 60.1px;
        border-radius: 37px;
        border: 0.5px solid #000;
        background: rgba(234, 225, 217, 0.40);
        box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
        color: #000;
        font-family: sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 5.5%;

    }
    header{
        width: 100%;
    }
    .btnAsis{
        width: 233px;
        height: 60.1px;
        border-radius: 37px;
        border: 0.5px solid #000;
        background: rgba(234, 225, 217, 0.40);
        box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);
        color: #000;
        font-family: sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5.5%;

    }



    .imgBanco{
        width: 15px;
        height: 15px;
        float: left;
        margin-top: 5%;
        margin-left: 5%;
    }



    .divBanco{
        width: 100%;
        height: 650px;
        padding-top: 15%;

    }
    .divFiesta{
        width: 100%;
        height: 680px;
        padding-top: 25%;

    }

    p{
        color: #000;
        font-family: sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        width: 240px;
        
        margin-left: auto;
        margin-right: auto;
    }
    button{
        margin-top: 8%;
    }

    h5{
        font-weight: 600;
        letter-spacing: 3.1px;
    }

    .divAsis{
        width: 100%;
        height: 370px;
        flex-shrink: 0;

    }

    .divCode{
        width: 100%;
        height: 380px;
        flex-shrink: 0;
        background: rgba(234, 225, 217, 0.90);
        padding-top: 25%;
        
    }

    .divBailar{
        width: 100%;
        height: 390px;
        flex-shrink: 0;
        padding-top: 8%;
    }

    .divIg{
        background-image: url(./assets/Star\ bright\ 1.png);
        width: 100%;
        height: 335px;
        flex-shrink: 0;
        margin-top: 20%;
        padding-top: 25%;
    }

    .pIg{
        font-weight: 500;
    }

    .pHashtag{
        color: #000;


    /* pricipal */
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    .divRegalo{
        width: 100%;
        height: 466px;
        flex-shrink: 0;
        margin-top: 20%;
    }

    .pFooter1{
        width: 100%;
    height: 148px;
    flex-shrink: 0;
    background: #9E9898;
    margin: 0;
    padding-top: 15%;
    }

    .pFooter2{
        width: 100%;
        height: 70px;
        flex-shrink: 0;
        background: #313131;
        color: #fff;
        margin: 0;
        padding-top: 5%;
    }

    a{
        text-decoration: none;
        color: #000;
        
    }

    footer a{
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        border-bottom: 3px solid #fff;
    }

    .sectionprueba{
        display: inline-block;
        text-align: center;
        
    }

    .footerBanco{
        margin-top: 10%;
    }

    .headerBanco{
        margin-top: 1%;
    }

}